.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  &__inner {
    @include container;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  &__made-by {
    font-size: 22px;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
  &__link {
    color: #42A5F5;
    text-decoration: none;
    padding: 4px;
    border-radius: 3px;
    margin-left: -2px;
    &:focus {
      text-decoration: underline;
      outline: 0;
      border-color: #42A5F5;
      box-shadow: 0 0 0 3px #42A5F5;
    }
  }
}
