.header {
  background-color: #222;
  &__inner {
    @include container;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  &__title {
    color: #fff;
    font-size: 32px;
    margin: 0;
    @media (max-width: 768px) {
      font-size: 22px;
    }
  }
}
