.input-form {
  width: 100%;
  display: flex;
  justify-content: center;
  &__textfield {
    font-size: 32px;
    padding: 4px;
    padding-left: 8px;
    width: 100%;
    max-width: 512px;
    margin-right: 16px;
  }
  &__add-button {
    padding: 0 16px;
    font-size: 32px;
    flex-shrink: 0;
    cursor: pointer;
  }
}
