.input-form {
  width: 100%;
  display: flex;
  justify-content: center;
  &__textfield {
    border: 1px solid #888;
    border-radius: 3px;
    color: #222;
    font-size: 32px;
    padding: 4px;
    padding-left: 8px;
    width: 100%;
    max-width: 512px;
    margin-right: 16px;
    &:focus {
      outline: 0;
      border-color: #42A5F5;
      box-shadow: 0 0 0 2px #42A5F5;
    }
  }
  &__add-button {
    border: 1px solid #888;
    background-color: #222;
    border-radius: 3px;
    color: #fff;
    padding: 0 16px;
    font-size: 32px;
    flex-shrink: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
      border-color: #42A5F5;
      box-shadow: 0 0 0 2px #42A5F5;
    }
  }
}
