.list {
  max-height: 70vh;
  overflow-y: auto;
  &__item {
    display: flex;
    padding: 4px;
    margin-bottom: 16px;
  }
  &__item-checkbox {
    height: 32px;
    width: 32px;
    align-self: center; 
    margin-right: 16px;
    flex-shrink: 0;
    font-size: 0;
    cursor: pointer;
    &--active {
      font-size: 22px;
    }
  }
  &__item-textfield {
    width: 100%;
    font-size: 32px;
    margin-right: 16px;
    padding: 4px;
    border: 0;
  }
  &__item-delete-button {
    font-size: 32px;
    padding: 0 4px;
    flex-shrink: 0;
    cursor: pointer;
  }
}
